html, body {
    font-family: "Century Gothic";
    font-size: 14px;
}

a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.md-button {
    text-transform: capitalize !important;
    font-size: 16px;
}

md-list-item > button {
    width: 100%;
    text-align: left !important;
}