<md-tab label="all">
    <md-content class="md-padding">
        <md-list>
            <md-list-item ng-repeat="task in home.tasks | filter:home.showMyTasksFlag:home.showMyTasks">
                <md-button style="width: 5px;" ng-hide="task.completed" ng-click="home.completeTask(task)" class="md-primary">Do it!</md-button>
                <md-button style="width: 5px;" ng-show="task.completed" ng-click="home.completeTask(task)">Done</md-button>
                <md-button ng-click="home.showTaskDetails(task)">
                    <div ng-show="task.completed" style="text-decoration: line-through;">{{task.description}}</div>
                    <div ng-hide="task.completed">{{task.description}}</div>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</md-tab>